<!DOCTYPE html>
<html>

<head>
    <title><%= subject %> test</title>
    <link rel="stylesheet" href="/styles_overall.css">
    <script type="text/javascript" src="/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="/functions.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
    <div id="header">
        <div onclick="nav_bar()" style="flex: 55%">
            <img id="nav_logo" src="/nav_logo.png">
        </div>
        <div style="flex: 7%">
            <img src="/<%= data.Name %>.png" style="border-radius:50%; height:80px; margin-top:10px">
        </div>
        <div style="flex: 15%; font-size:20px; color:white; margin-top:15px">
            <p>Welcome <%= data.Name %> ,</p>
            <p>Class: <%= data.Class %> ,</p>
        </div>
        <div style="flex: 15%; font-size:20px; color:white; margin-top:15px">
            <p>Student ID: <%= data.StudentID %>, </p>
            <p>Section: <%= data.Section %>, </p>
        </div>
        <div style="flex: 4%">
            <form id="logout" action="/login" method="get">
                <img src="/logout.png" id="logout-button" onclick="logout()">
            </form>
        </div>
    </div>
    <div id="nav_menu">
        <form action="/student/?id=<%= data._id %>" method="post">
            <input type="submit" class="nav_menu_link" value="Home">
        </form>
        <form action="/student/timetable/?id=<%= data._id %>" method="post">
            <input type="submit" class="nav_menu_link" value="Time Table" />
        </form>
        <form action="/student/attendance/?id=<%= data._id %>" method="post">
            <input type="submit" class="nav_menu_link" value="Attendance">
        </form>
        <form action="/student/results/?id=<%= data._id %>" method="post">
            <input type="submit" class="nav_menu_link" value="Results">
        </form>
        <form action="/student/notes/?id=<%= data._id %>" method="post">
            <input type="submit" class="nav_menu_link" value="Notes">
        </form>
        <form action="/student/assignments/?id=<%= data._id %>" method="post">
            <input type="submit" class="nav_menu_link" value="Assignments">
        </form>
        <form action="/student/testportal/?id=<%= data._id %>&subject=search" method="post">
            <input type="submit" class="nav_menu_link" value="Test Portal">
        </form>
    </div>
    <div id="main" style="padding-top: 100px">
        <div id="content" style="padding-bottom: 0px">
            <form action="/student/submit-test?id=<%= data._id %>&subject=<%= subject %>" method="post">
            <%  var i = 1;
                var x = Object.values(test);
                x.forEach(questions);
                function questions(x) { %>
                <div class="question-bar">
                    <p class="questions-para">Question <%= i %></p>
                    <p class="questions" style="font-weight: bolder; font-size: 40px;"><%= x.Question %></p>
                    <% if(x.Option1 === x.Answer) { %>
                    <label class="questions"><input type="radio" name="question<%= i %>" value="correct" />&nbsp;&nbsp;<%= x.Option1 %></label>
                    <% } else { %>
                    <label class="questions"><input type="radio" name="question<%= i %>" value="incorrect" />&nbsp;&nbsp;<%= x.Option1 %></label>
                    <% } %>
                    <% if(x.Option2 === x.Answer) { %>
                    <label class="questions"><input type="radio" name="question<%= i %>" value="correct" />&nbsp;&nbsp;<%= x.Option2 %></label>
                    <% } else { %>
                    <label class="questions"><input type="radio" name="question<%= i %>" value="incorrect" />&nbsp;&nbsp;<%= x.Option2 %></label>
                    <% } %>
                    <% if(x.Option3 === x.Answer) { %>
                    <label class="questions"><input type="radio" name="question<%= i %>" value="correct" />&nbsp;&nbsp;<%= x.Option3 %></label>
                    <% } else { %>
                    <label class="questions"><input type="radio" name="question<%= i %>" value="incorrect" />&nbsp;&nbsp;<%= x.Option3 %></label>
                    <% } %>
                    <% if(x.Option4 === x.Answer) { %>
                    <label class="questions"><input type="radio" name="question<%= i %>" value="correct" />&nbsp;&nbsp;<%= x.Option4 %></label>
                    <% } else { %>
                    <label class="questions"><input type="radio" name="question<%= i %>" value="incorrect" />&nbsp;&nbsp;<%= x.Option4 %></label>
                    <% } %>
                </div>
            <% i++; } %>
            <input type="submit" class="btn btn-success" id="submit-button-test" value="Submit" />
            </form>
        </div>
        <div id="footer">

        </div>
    </div>

</body>

</html>